In [79]:
import pymongo
import pandas as pd
from urllib.parse import quote_plus


username = "cypsolabs"
password = "@testing01"
encoded_username = quote_plus(username)
encoded_password = quote_plus(password)

# Construct the MongoDB URI
MONGO_URI = f"mongodb+srv://{encoded_username}:{encoded_password}@byner.vxp0o.mongodb.net/?retryWrites=true&w=majority&appName=byner"

client = pymongo.MongoClient(MONGO_URI)
db = client['testdb']  
collection = db['cleaneddata']  

# Fetch data from MongoDB
data = collection.find()


df = pd.DataFrame(list(data))


df.head(10)

,_id,timestamp,sequence,digit_moves,indicators
0,6797d3cd51826d3cd3c557cc,2025-01-26 06:11:48.698,2,Down,NEUTRAL
1,6797d3cd51826d3cd3c557cd,2025-01-26 06:11:49.698,5,Down,NEUTRAL
2,6797d3cd51826d3cd3c557d6,2025-01-26 06:11:51.125,5,Up,NEUTRAL
3,6797d3cd51826d3cd3c557db,2025-01-26 06:11:56.125,5,Down,NEUTRAL
4,6797d3cd51826d3cd3c557dc,2025-01-26 06:11:57.125,6,Up,NEUTRAL
5,6797d3cd51826d3cd3c557e7,2025-01-26 06:12:08.125,0,Up,NEUTRAL
6,6797d3cd51826d3cd3c557fd,2025-01-26 06:12:15.138,5,Down,GOOD
7,6797d3cd51826d3cd3c557ff,2025-01-26 06:12:17.138,6,Up,GOOD
8,6797d3cd51826d3cd3c55809,2025-01-26 06:12:27.138,5,Down,GOOD
9,6797d3cd51826d3cd3c5580b,2025-01-26 06:12:29.138,4,Down,GOOD

In [80]:
print(df.columns)

Index(['_id', 'timestamp', 'sequence', 'digit_moves', 'indicators'], dtype='object')

In [81]:
unique_indicators = df['indicators'].unique()

print("Unique indicators are:", unique_indicators)

Unique indicators are: ['NEUTRAL' 'GOOD' 'BAD']

In [82]:
df.drop('_id', axis=1, inplace=True)

In [83]:
df['timestamp'] = pd.to_datetime(df['timestamp']).astype(int) / 10**9

In [84]:
df = pd.get_dummies(df, columns=['digit_moves', 'indicators'], drop_first=False)

In [85]:
df.head()

,timestamp,sequence,digit_moves_Down,digit_moves_Up,indicators_BAD,indicators_GOOD,indicators_NEUTRAL
0,1.737872e+09,2,True,False,False,False,True
1,1.737872e+09,5,True,False,False,False,True
2,1.737872e+09,5,False,True,False,False,True
3,1.737872e+09,5,True,False,False,False,True
4,1.737872e+09,6,False,True,False,False,True

In [86]:
scaler = MinMaxScaler()
df[['timestamp']] = scaler.fit_transform(df[['timestamp']])

In [87]:
df['time_delta'] = df['timestamp'].diff().fillna(0)

df.head()

,timestamp,sequence,digit_moves_Down,digit_moves_Up,indicators_BAD,indicators_GOOD,indicators_NEUTRAL,time_delta
0,0.000156,2,True,False,False,False,True,0.000000
1,0.000172,5,True,False,False,False,True,0.000016
2,0.000194,5,False,True,False,False,True,0.000022
3,0.000272,5,True,False,False,False,True,0.000078
4,0.000287,6,False,True,False,False,True,0.000016

In [34]:
df = df.dropna()

In [35]:
df['hour'] = df['timestamp'].dt.hour
df['minute'] = df['timestamp'].dt.minute
df['second'] = df['timestamp'].dt.second