In [115]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\user\appdata\roaming\python\python312\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

In [116]:
import pymongo
import pandas as pd
from urllib.parse import quote_plus


username = "cypsolabs"
password = "@testing01"
encoded_username = quote_plus(username)
encoded_password = quote_plus(password)

# Construct the MongoDB URI
MONGO_URI = f"mongodb+srv://{encoded_username}:{encoded_password}@byner.vxp0o.mongodb.net/?retryWrites=true&w=majority&appName=byner"

client = pymongo.MongoClient(MONGO_URI)
db = client['testdb']  # Replace with your database name
collection = db['sequence_numbers']  # Replace with your collection name

# Fetch data from MongoDB
data = collection.find()  # You can add a query if needed, e.g., collection.find({"last_index": {"$exists": True}})


df = pd.DataFrame(list(data))


df.head()  # Show the first few rows

,_id,timestamp,all_numbers,red_numbers,blue_numbers,indices,red_indices,blue_indices,time_intervals,trends,market_indicators
0,67953d50b9e37ad81d3476f4,2025-01-25 11:36:48.735,[],[],[],[],[],[],[],[],[]
1,67953e2292374408f25d9654,2025-01-25 11:40:17.953,[],[],[],[],[],[],[],[],[]
2,67953e3092374408f25d9655,2025-01-25 11:40:32.057,"[3, 4, 9, 7, 3, 6, 7, 1, 3, 3, 0, 2, 4, 8, 6, ...","[3, 7, 3, 3, 4, 8, 7]","[4, 9, 3, 6, 7, 1, 0, 2, 6, 0, 9, 6, 3]","[1:3, 2:4, 3:9, 4:7, 5:3, 6:6, 7:7, 8:1, 9:3, ...","[1:3, 4:7, 9:3, 10:3, 13:4, 14:8, 20:7]","[2:4, 3:9, 5:3, 6:6, 7:7, 8:1, 11:0, 12:2, 15:...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[increasing, increasing, decreasing, decreasin...",[]
3,67953e3c92374408f25d9656,2025-01-25 11:40:44.587,"[7, 1, 3, 0, 2, 4, 8, 6, 0, 9, 6, 3, 7, 7, 2, ...","[1, 3, 4, 8, 7, 2, 6, 5]","[7, 0, 2, 6, 0, 9, 6, 3, 7, 5, 8, 3]","[21:7, 22:1, 23:3, 24:0, 25:2, 26:4, 27:8, 28:...","[22:1, 23:3, 26:4, 27:8, 33:7, 35:2, 39:6, 40:5]","[21:7, 24:0, 25:2, 28:6, 29:0, 30:9, 31:6, 32:...","[12.53029, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[decreasing, decreasing, increasing, decreasin...",[]
4,67953e4992374408f25d9657,2025-01-25 11:40:57.104,"[8, 6, 0, 9, 6, 3, 7, 7, 2, 5, 8, 3, 6, 5, 9, ...","[8, 7, 2, 6, 5, 9, 1, 1, 1]","[6, 0, 9, 6, 3, 7, 5, 8, 3, 1, 5]","[41:8, 42:6, 43:0, 44:9, 45:6, 46:3, 47:7, 48:...","[41:8, 47:7, 49:2, 53:6, 54:5, 55:9, 56:1, 59:...","[42:6, 43:0, 44:9, 45:6, 46:3, 48:7, 50:5, 51:...","[12.516902, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[increasing, decreasing, decreasing, increasin...",[]

In [117]:
names = df.columns.tolist()
print(names)

['_id', 'timestamp', 'all_numbers', 'red_numbers', 'blue_numbers', 'indices', 'red_indices', 'blue_indices', 'time_intervals', 'trends', 'market_indicators']

In [114]:
# remove column id and timestamp

In [118]:
df = df.drop(columns=["_id"])

In [119]:
names = df.columns.tolist()
print(names)

['timestamp', 'all_numbers', 'red_numbers', 'blue_numbers', 'indices', 'red_indices', 'blue_indices', 'time_intervals', 'trends', 'market_indicators']

In [120]:
#rename all_numbers to sequence & indice to all_index
df = df.rename(columns={"all_numbers":"sequence", "indices":"index", "red_numbers":"red", "blue_numbers":"blue", "blue_indices":"blue_index","red_indices":"red_index"})

In [121]:
names = df.columns.tolist()
print(names)

['timestamp', 'sequence', 'red', 'blue', 'index', 'red_index', 'blue_index', 'time_intervals', 'trends', 'market_indicators']

In [122]:
#rearrage the column easy to identify 
new_df = ["timestamp","index","sequence","red","red_index","blue","blue_index","time_intervals", "trends", "market_indicators"]
df = df[new_df]

In [123]:
names = df.columns.tolist()
print(names)

['timestamp', 'index', 'sequence', 'red', 'red_index', 'blue', 'blue_index', 'time_intervals', 'trends', 'market_indicators']

In [124]:
null_counts =df[['timestamp','index', 'sequence', 'red', 'red_index', 'blue', 'blue_index','time_intervals', 'trends', 'market_indicators']].isnull().sum()

In [125]:
print(null_counts)

timestamp            0
index                0
sequence             0
red                  0
red_index            0
blue                 0
blue_index           0
time_intervals       0
trends               0
market_indicators    0
dtype: int64

In [126]:
null_in_sequence = df['sequence'].isnull().any()
print(null_in_sequence)

False

In [127]:
print(df.dtypes)

timestamp            datetime64[ns]
index                        object
sequence                     object
red                          object
red_index                    object
blue                         object
blue_index                   object
time_intervals               object
trends                       object
market_indicators            object
dtype: object

In [128]:
red_count = df['red'].count()
blue_count = df['blue'].count()

In [129]:
print(f"Non-null values in 'red' column: {red_count}")
print(f"Non-null values in 'blue' column: {blue_count}")

Non-null values in 'red' column: 347
Non-null values in 'blue' column: 347

In [130]:
total_sequence = len(df['sequence'])

print(f"Total values in 'sequence' column: {total_sequence}")

Total values in 'sequence' column: 347

In [131]:
# View the 'sequence' column in the DataFrame
print(df['sequence'])

0                                                     []
1                                                     []
2      [3, 4, 9, 7, 3, 6, 7, 1, 3, 3, 0, 2, 4, 8, 6, ...
3      [7, 1, 3, 0, 2, 4, 8, 6, 0, 9, 6, 3, 7, 7, 2, ...
4      [8, 6, 0, 9, 6, 3, 7, 7, 2, 5, 8, 3, 6, 5, 9, ...
                             ...
342    [3, 4, 2, 7, 3, 1, 3, 3, 5, 1, 5, 2, 8, 8, 9, ...
343    [3, 5, 1, 5, 2, 8, 8, 9, 2, 6, 7, 7, 0, 3, 4, ...
344    [8, 9, 2, 6, 7, 7, 0, 3, 4, 4, 0, 9, 3, 9, 2, ...
345    [7, 0, 3, 4, 4, 0, 9, 3, 9, 2, 7, 6, 1, 6, 1, ...
346    [3, 9, 2, 7, 6, 1, 6, 1, 4, 7, 7, 0, 9, 7, 7, ...
Name: sequence, Length: 347, dtype: object

In [132]:
# Count total number of elements in all lists in the 'sequence' column
total_elements = df['sequence'].apply(len).sum()

print(f"Total number of elements in all 'sequence' lists: {total_elements}")

Total number of elements in all 'sequence' lists: 6880

In [133]:
# Count total number of elements in all lists in the 'sequence' column
total_elements = df['red'].apply(len).sum()

print(f"Total number of elements in all 'red' lists: {total_elements}")

Total number of elements in all 'red' lists: 3395

In [134]:
# Count total number of elements in all lists in the 'sequence' column
total_elements = df['blue'].apply(len).sum()

print(f"Total number of elements in all 'blue' lists: {total_elements}")

Total number of elements in all 'blue' lists: 3482

In [135]:
# Count total number of elements in all lists in the 'sequence' column
total_elements = df['blue'].apply(len).sum()

print(f"Total number of elements in all 'blue' lists: {total_elements}")

Total number of elements in all 'blue' lists: 3482

In [138]:

# Count total number of elements in all lists in the 'sequence' column
total_elements = df['time_intervals'].apply(len).sum()

print(f"Total number of elements in all 'blue' lists: {total_elements}")

Total number of elements in all 'blue' lists: 6878

In [139]:

# Count total number of elements in all lists in the 'sequence' column
total_elements = df['trends'].apply(len).sum()

print(f"Total number of elements in all 'blue' lists: {total_elements}")

Total number of elements in all 'blue' lists: 6878

In [140]:

# Count total number of elements in all lists in the 'sequence' column
total_elements = df['market_indicators'].apply(len).sum()

print(f"Total number of elements in all 'blue' lists: {total_elements}")

Total number of elements in all 'blue' lists: 0

In [41]:
print(df['red'])

0                                                      []
1       [6, 2, 8, 2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 0, 1, ...
2       [8, 2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 0, 1, 3, 9, ...
3       [2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 1, 3, 9, 2, 2, ...
4                                                      []
                              ...
1742                       [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
1743                       [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
1744                       [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
1745                       [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
1746                       [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
Name: red, Length: 1747, dtype: object

In [42]:
print(df['blue'])

0                                   []
1                            [1, 7, 3]
2                            [1, 7, 3]
3                            [1, 7, 3]
4                                   []
                     ...
1742    [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1743    [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1744    [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1745    [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1746    [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
Name: blue, Length: 1747, dtype: object

In [43]:
# Count the number of empty lists in the 'red' column
empty_lists_count = df['red'].apply(lambda x: len(x) == 0).sum()

print(f"Number of empty lists in 'red' column: {empty_lists_count}")

Number of empty lists in 'red' column: 4

In [44]:
# Count the number of empty lists in the 'blue' column
empty_lists_count = df['blue'].apply(lambda x: len(x) == 0).sum()

print(f"Number of empty lists in 'blue' column: {empty_lists_count}")

Number of empty lists in 'red' column: 4

In [45]:
# Count the number of empty lists in the 'sequence' column
empty_lists_count = df['sequence'].apply(lambda x: len(x) == 0).sum()

print(f"Number of empty lists in 'sequence' column: {empty_lists_count}")

Number of empty lists in 'red' column: 4

In [55]:
# Remove rows with empty lists in any of the specified columns
df_cleaned = df[df[['sequence', 'red', 'blue', 'index', 'red_index', 'blue_index']].apply(lambda row: all(len(x) > 0 for x in row), axis=1)]

# Display the cleaned DataFrame
print(df_cleaned)

                                                  index  \
1     [1:6, 2:2, 3:8, 4:2, 5:2, 6:6, 7:1, 8:4, 9:8, ...
2     [21:8, 22:2, 23:2, 24:6, 25:1, 26:4, 27:8, 28:...
3     [41:2, 42:2, 43:6, 44:1, 45:4, 46:8, 47:0, 48:...
5     [61:5, 62:2, 63:1, 64:7, 65:5, 66:2, 67:9, 68:...
6     [81:1, 82:7, 83:5, 84:2, 85:9, 86:8, 87:4, 88:...
...                                                 ...
1742  [34761:4, 34762:0, 34763:0, 34764:1, 34765:8, ...
1743  [34781:4, 34782:0, 34783:0, 34784:1, 34785:8, ...
1744  [34801:4, 34802:0, 34803:0, 34804:1, 34805:8, ...
1745  [34821:4, 34822:0, 34823:0, 34824:1, 34825:8, ...
1746  [34841:4, 34842:0, 34843:0, 34844:1, 34845:8, ...

                                               sequence  \
1     [6, 2, 8, 2, 2, 6, 1, 4, 8, 0, 7, 6, 0, 3, 1, ...
2     [8, 2, 2, 6, 1, 4, 8, 0, 7, 6, 0, 3, 1, 0, 1, ...
3     [2, 2, 6, 1, 4, 8, 0, 7, 6, 0, 3, 1, 1, 3, 3, ...
5     [5, 2, 1, 7, 5, 2, 9, 8, 4, 9, 3, 7, 7, 2, 0, ...
6     [1, 7, 5, 2, 9, 8, 4, 9, 3, 7, 7, 2, 0, 0, 6, ...
...                                                 ...
1742  [4, 0, 0, 1, 8, 2, 6, 7, 6, 7, 3, 4, 1, 8, 2, ...
1743  [4, 0, 0, 1, 8, 2, 6, 7, 6, 7, 3, 4, 1, 8, 2, ...
1744  [4, 0, 0, 1, 8, 2, 6, 7, 6, 7, 3, 4, 1, 8, 2, ...
1745  [4, 0, 0, 1, 8, 2, 6, 7, 6, 7, 3, 4, 1, 8, 2, ...
1746  [4, 0, 0, 1, 8, 2, 6, 7, 6, 7, 3, 4, 1, 8, 2, ...

                                                    red  \
1     [6, 2, 8, 2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 0, 1, ...
2     [8, 2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 0, 1, 3, 9, ...
3     [2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 1, 3, 9, 2, 2, ...
5                           [1, 7, 9, 7, 7, 0, 0, 9, 6]
6                        [1, 7, 9, 7, 7, 0, 0, 9, 6, 4]
...                                                 ...
1742                     [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
1743                     [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
1744                     [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
1745                     [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
1746                     [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]

                                              red_index  \
1     [1:6, 2:2, 3:8, 4:2, 5:2, 6:6, 8:4, 9:8, 10:0,...
2     [21:8, 22:2, 23:2, 24:6, 26:4, 27:8, 28:0, 30:...
3     [41:2, 42:2, 43:6, 45:4, 46:8, 47:0, 49:6, 50:...
5     [63:1, 64:7, 70:9, 72:7, 73:7, 75:0, 76:0, 78:...
6     [81:1, 82:7, 88:9, 90:7, 91:7, 93:0, 94:0, 96:...
...                                                 ...
1742  [34764:1, 34766:2, 34767:6, 34768:7, 34770:7, ...
1743  [34784:1, 34786:2, 34787:6, 34788:7, 34790:7, ...
1744  [34804:1, 34806:2, 34807:6, 34808:7, 34810:7, ...
1745  [34824:1, 34826:2, 34827:6, 34828:7, 34830:7, ...
1746  [34844:1, 34846:2, 34847:6, 34848:7, 34850:7, ...

                                   blue  \
1                             [1, 7, 3]
2                             [1, 7, 3]
3                             [1, 7, 3]
5     [5, 2, 5, 2, 9, 8, 4, 3, 2, 6, 7]
6        [5, 2, 9, 8, 4, 3, 2, 6, 7, 3]
...                                 ...
1742     [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1743     [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1744     [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1745     [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1746     [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]

                                             blue_index
1                                     [7:1, 11:7, 19:3]
2                                    [25:1, 29:7, 37:3]
3                                    [44:1, 48:7, 55:3]
5     [61:5, 62:2, 65:5, 66:2, 67:9, 68:8, 69:4, 71:...
6     [83:5, 84:2, 85:9, 86:8, 87:4, 89:3, 92:2, 95:...
...                                                 ...
1742  [34761:4, 34762:0, 34763:0, 34765:8, 34769:6, ...
1743  [34781:4, 34782:0, 34783:0, 34785:8, 34789:6, ...
1744  [34801:4, 34802:0, 34803:0, 34805:8, 34809:6, ...
1745  [34821:4, 34822:0, 34823:0, 34825:8, 34829:6, ...
1746  [34841:4, 34842:0, 34843:0, 34845:8, 34849:6, ...

[1743 rows x 6 columns]

In [56]:
print(df['blue'])

0                                   []
1                            [1, 7, 3]
2                            [1, 7, 3]
3                            [1, 7, 3]
4                                   []
                     ...
1742    [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1743    [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1744    [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1745    [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1746    [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
Name: blue, Length: 1747, dtype: object

In [57]:
# Count the number of empty lists in the 'red' column
empty_lists_count = df['red'].apply(lambda x: len(x) == 0).sum()

print(f"Number of empty lists in 'red' column: {empty_lists_count}")

Number of empty lists in 'red' column: 4

In [58]:
# Check the type and content of the first few rows in the 'red' column
print(df['red'].head())

# Remove rows where 'red' column contains empty lists
df_cleaned_red = df[df['red'].apply(lambda x: isinstance(x, list) and len(x) > 0)]

# Display the cleaned DataFrame
print(df_cleaned_red)

0                                                   []
1    [6, 2, 8, 2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 0, 1, ...
2    [8, 2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 0, 1, 3, 9, ...
3    [2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 1, 3, 9, 2, 2, ...
4                                                   []
Name: red, dtype: object
                                                  index  \
1     [1:6, 2:2, 3:8, 4:2, 5:2, 6:6, 7:1, 8:4, 9:8, ...
2     [21:8, 22:2, 23:2, 24:6, 25:1, 26:4, 27:8, 28:...
3     [41:2, 42:2, 43:6, 44:1, 45:4, 46:8, 47:0, 48:...
5     [61:5, 62:2, 63:1, 64:7, 65:5, 66:2, 67:9, 68:...
6     [81:1, 82:7, 83:5, 84:2, 85:9, 86:8, 87:4, 88:...
...                                                 ...
1742  [34761:4, 34762:0, 34763:0, 34764:1, 34765:8, ...
1743  [34781:4, 34782:0, 34783:0, 34784:1, 34785:8, ...
1744  [34801:4, 34802:0, 34803:0, 34804:1, 34805:8, ...
1745  [34821:4, 34822:0, 34823:0, 34824:1, 34825:8, ...
1746  [34841:4, 34842:0, 34843:0, 34844:1, 34845:8, ...

                                               sequence  \
1     [6, 2, 8, 2, 2, 6, 1, 4, 8, 0, 7, 6, 0, 3, 1, ...
2     [8, 2, 2, 6, 1, 4, 8, 0, 7, 6, 0, 3, 1, 0, 1, ...
3     [2, 2, 6, 1, 4, 8, 0, 7, 6, 0, 3, 1, 1, 3, 3, ...
5     [5, 2, 1, 7, 5, 2, 9, 8, 4, 9, 3, 7, 7, 2, 0, ...
6     [1, 7, 5, 2, 9, 8, 4, 9, 3, 7, 7, 2, 0, 0, 6, ...
...                                                 ...
1742  [4, 0, 0, 1, 8, 2, 6, 7, 6, 7, 3, 4, 1, 8, 2, ...
1743  [4, 0, 0, 1, 8, 2, 6, 7, 6, 7, 3, 4, 1, 8, 2, ...
1744  [4, 0, 0, 1, 8, 2, 6, 7, 6, 7, 3, 4, 1, 8, 2, ...
1745  [4, 0, 0, 1, 8, 2, 6, 7, 6, 7, 3, 4, 1, 8, 2, ...
1746  [4, 0, 0, 1, 8, 2, 6, 7, 6, 7, 3, 4, 1, 8, 2, ...

                                                    red  \
1     [6, 2, 8, 2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 0, 1, ...
2     [8, 2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 0, 1, 3, 9, ...
3     [2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 1, 3, 9, 2, 2, ...
5                           [1, 7, 9, 7, 7, 0, 0, 9, 6]
6                        [1, 7, 9, 7, 7, 0, 0, 9, 6, 4]
...                                                 ...
1742                     [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
1743                     [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
1744                     [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
1745                     [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]
1746                     [1, 2, 6, 7, 7, 3, 1, 8, 7, 7]

                                              red_index  \
1     [1:6, 2:2, 3:8, 4:2, 5:2, 6:6, 8:4, 9:8, 10:0,...
2     [21:8, 22:2, 23:2, 24:6, 26:4, 27:8, 28:0, 30:...
3     [41:2, 42:2, 43:6, 45:4, 46:8, 47:0, 49:6, 50:...
5     [63:1, 64:7, 70:9, 72:7, 73:7, 75:0, 76:0, 78:...
6     [81:1, 82:7, 88:9, 90:7, 91:7, 93:0, 94:0, 96:...
...                                                 ...
1742  [34764:1, 34766:2, 34767:6, 34768:7, 34770:7, ...
1743  [34784:1, 34786:2, 34787:6, 34788:7, 34790:7, ...
1744  [34804:1, 34806:2, 34807:6, 34808:7, 34810:7, ...
1745  [34824:1, 34826:2, 34827:6, 34828:7, 34830:7, ...
1746  [34844:1, 34846:2, 34847:6, 34848:7, 34850:7, ...

                                   blue  \
1                             [1, 7, 3]
2                             [1, 7, 3]
3                             [1, 7, 3]
5     [5, 2, 5, 2, 9, 8, 4, 3, 2, 6, 7]
6        [5, 2, 9, 8, 4, 3, 2, 6, 7, 3]
...                                 ...
1742     [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1743     [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1744     [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1745     [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]
1746     [4, 0, 0, 8, 6, 4, 2, 6, 6, 3]

                                             blue_index
1                                     [7:1, 11:7, 19:3]
2                                    [25:1, 29:7, 37:3]
3                                    [44:1, 48:7, 55:3]
5     [61:5, 62:2, 65:5, 66:2, 67:9, 68:8, 69:4, 71:...
6     [83:5, 84:2, 85:9, 86:8, 87:4, 89:3, 92:2, 95:...
...                                                 ...
1742  [34761:4, 34762:0, 34763:0, 34765:8, 34769:6, ...
1743  [34781:4, 34782:0, 34783:0, 34785:8, 34789:6, ...
1744  [34801:4, 34802:0, 34803:0, 34805:8, 34809:6, ...
1745  [34821:4, 34822:0, 34823:0, 34825:8, 34829:6, ...
1746  [34841:4, 34842:0, 34843:0, 34845:8, 34849:6, ...

[1743 rows x 6 columns]

In [63]:
# Feature 1: Sum of elements in the 'red' column lists, ensuring numeric values
df['red_sum'] = df['red'].apply(lambda x: sum([float(i) if isinstance(i, (int, float, str)) and i.replace('.', '', 1).isdigit() else 0 for i in x]) if isinstance(x, list) else 0)
df['red_length'] = df['red'].apply(lambda x: len(x) if isinstance(x, list) else 0)

# Display the updated DataFrame with the new 'red_sum' feature
print(df[['red', 'red_sum','red_length']].head())

                                                 red  red_sum  red_length
0                                                 []      0.0           0
1  [6, 2, 8, 2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 0, 1, ...     61.0          17
2  [8, 2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 0, 1, 3, 9, ...     57.0          17
3  [2, 2, 6, 4, 8, 0, 6, 0, 3, 1, 1, 3, 9, 2, 2, ...     51.0          17
4                                                 []      0.0           0

In [64]:
# Feature 1: Sum of elements in the 'blue' column lists, ensuring numeric values
df['blue_sum'] = df['blue'].apply(lambda x: sum([float(i) if isinstance(i, (int, float, str)) and i.replace('.', '', 1).isdigit() else 0 for i in x]) if isinstance(x, list) else 0)
df['blue_length'] = df['blue'].apply(lambda x: len(x) if isinstance(x, list) else 0)
# Display the updated DataFrame with the new 'red_sum' feature
print(df[['blue', 'blue_sum','blue_length']].head())

        blue  blue_sum  blue_length
0         []       0.0            0
1  [1, 7, 3]      11.0            3
2  [1, 7, 3]      11.0            3
3  [1, 7, 3]      11.0            3
4         []       0.0            0

In [65]:
df['sequence_length'] = df['sequence'].apply(lambda x: len(x) if isinstance(x, list) else 0)
print(df[['sequence_length']].head())

   sequence_length
0                0
1               20
2               20
3               20
4                0

In [70]:
# Calculate the mean and standard deviation of the 'red_sum' column
mean = df['red_sum'].mean()
std_dev = df['red_sum'].std()

# Apply manual scaling (Z-score normalization)
df['red_sum_scaled'] = (df['red_sum'] - mean) / std_dev

# Print the original and scaled values
print(df[['red_sum', 'red_sum_scaled']].head())

   red_sum  red_sum_scaled
0      0.0       -3.629703
1     61.0        1.229981
2     57.0        0.911313
3     51.0        0.433312
4      0.0       -3.629703

In [72]:
# Calculate the mean and standard deviation of the 'red_sum' column
mean = df['blue_sum'].mean()
std_dev = df['blue_sum'].std()

# Apply manual scaling (Z-score normalization)
df['blue_sum_scaled'] = (df['blue_sum'] - mean) / std_dev

# Print the original and scaled values
print(df[['blue_sum', 'blue_sum_scaled']].head())

   blue_sum  blue_sum_scaled
0       0.0        -3.566995
1      11.0        -2.672699
2      11.0        -2.672699
3      11.0        -2.672699
4       0.0        -3.566995

In [74]:
df['sequence_sum'] = df['sequence'].apply(lambda x: sum([float(i) if isinstance(i, (int, float, str)) and i.replace('.', '', 1).isdigit() else 0 for i in x]) if isinstance(x, list) else 0)
df['blue_length'] = df['blue'].apply(lambda x: len(x) if isinstance(x, list) else 0)
# Display the updated DataFrame with the new 'red_sum' feature
print(df[['sequence', 'sequence_sum','sequence_length']].head())

                                            sequence  sequence_sum  \
0                                                 []           0.0
1  [6, 2, 8, 2, 2, 6, 1, 4, 8, 0, 7, 6, 0, 3, 1, ...          72.0
2  [8, 2, 2, 6, 1, 4, 8, 0, 7, 6, 0, 3, 1, 0, 1, ...          68.0
3  [2, 2, 6, 1, 4, 8, 0, 7, 6, 0, 3, 1, 1, 3, 3, ...          62.0
4                                                 []           0.0

   sequence_length
0                0
1               20
2               20
3               20
4                0

In [75]:
# Calculate the mean and standard deviation of the 'red_sum' column
mean = df['sequence_sum'].mean()
std_dev = df['sequence_sum'].std()

# Apply manual scaling (Z-score normalization)
df['sequence_sum_scaled'] = (df['sequence_sum'] - mean) / std_dev

# Print the original and scaled values
print(df[['sequence_sum', 'sequence_sum_scaled']].head())

   sequence_sum  sequence_sum_scaled
0           0.0            -7.421803
1          72.0            -1.451210
2          68.0            -1.782909
3          62.0            -2.280459
4           0.0            -7.421803

In [71]:
# Standardize other numerical features
numerical_columns = ['red_sum', 'blue_sum', 'sequence_length']
for col in numerical_columns:
    mean = df[col].mean()
    std_dev = df[col].std()
    df[f'{col}_scaled'] = (df[col] - mean) / std_dev

print(df[['red_sum', 'red_sum_scaled', 'blue_sum', 'blue_sum_scaled', 'sequence_length', 'sequence_length_scaled']].head())

   red_sum  red_sum_scaled  blue_sum  blue_sum_scaled  sequence_length  \
0      0.0       -3.629703       0.0        -3.566995                0
1     61.0        1.229981      11.0        -2.672699               20
2     57.0        0.911313      11.0        -2.672699               20
3     51.0        0.433312      11.0        -2.672699               20
4      0.0       -3.629703       0.0        -3.566995                0

   sequence_length_scaled
0              -20.868650
1                0.047891
2                0.047891
3                0.047891
4              -20.868650