In [744]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\user\appdata\roaming\python\python312\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

In [745]:
import pymongo
import pandas as pd
from urllib.parse import quote_plus


username = "cypsolabs"
password = "@testing01"
encoded_username = quote_plus(username)
encoded_password = quote_plus(password)

# Construct the MongoDB URI
MONGO_URI = f"mongodb+srv://{encoded_username}:{encoded_password}@byner.vxp0o.mongodb.net/?retryWrites=true&w=majority&appName=byner"

client = pymongo.MongoClient(MONGO_URI)
db = client['testdb']  # Replace with your database name
collection = db['sequence_numbers']  # Replace with your collection name

# Fetch data from MongoDB
data = collection.find()  # You can add a query if needed, e.g., collection.find({"last_index": {"$exists": True}})


df = pd.DataFrame(list(data))


df.head()  # Show the first few rows

,_id,timestamp,all_numbers,red_numbers,blue_numbers,indices,red_indices,blue_indices,time_intervals,trends,market_indicators
0,6796428b95982416430c6d91,2025-01-26 06:11:23.393,[],[],[],[],[],[],[],[],[]
1,6796429895982416430c6d92,2025-01-26 06:11:36.698,"[9, 7, 2, 8, 4, 4, 5, 2, 5, 7, 9, 7, 2, 5, 6, ...","[9, 4, 7, 9, 7, 5, 6, 4]","[7, 2, 8, 4, 5, 2, 5, 2, 5, 4, 5, 5]","[1:9, 2:7, 3:2, 4:8, 5:4, 6:4, 7:5, 8:2, 9:5, ...","[1:9, 6:4, 10:7, 11:9, 12:7, 14:5, 15:6, 17:4]","[2:7, 3:2, 4:8, 5:4, 7:5, 8:2, 9:5, 13:2, 16:5...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[decreasing, decreasing, increasing, decreasin...",[]
2,679642a595982416430c6d93,2025-01-26 06:11:49.125,"[5, 2, 5, 7, 9, 7, 2, 5, 6, 5, 4, 4, 5, 5, 6, ...","[7, 9, 7, 5, 6, 4, 6, 6, 0]","[5, 2, 5, 2, 5, 4, 5, 5, 7, 4, 8]","[21:5, 22:2, 23:5, 24:7, 25:9, 26:7, 27:2, 28:...","[24:7, 25:9, 26:7, 28:5, 29:6, 31:4, 35:6, 36:...","[21:5, 22:2, 23:5, 27:2, 30:5, 32:4, 33:5, 34:...","[12.427568, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[decreasing, increasing, increasing, increasin...",[NEUTRAL]
3,679642b195982416430c6d94,2025-01-26 06:12:01.657,"[2, 5, 6, 5, 4, 4, 5, 5, 6, 6, 7, 4, 8, 0, 1, ...","[5, 6, 4, 6, 6, 0, 3, 5]","[2, 5, 4, 5, 5, 7, 4, 8, 1, 4, 1, 2]","[41:2, 42:5, 43:6, 44:5, 45:4, 46:4, 47:5, 48:...","[42:5, 43:6, 45:4, 49:6, 50:6, 54:0, 58:3, 60:5]","[41:2, 44:5, 46:4, 47:5, 48:5, 51:7, 52:4, 53:...","[12.531262, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[increasing, increasing, decreasing, decreasin...",[NEUTRAL]
4,679642be95982416430c6d95,2025-01-26 06:12:14.138,"[5, 5, 6, 6, 7, 4, 8, 0, 1, 4, 1, 3, 2, 5, 0, ...","[6, 6, 0, 3, 5, 4, 0]","[5, 5, 7, 4, 8, 1, 4, 1, 2, 0, 8, 5, 2]","[61:5, 62:5, 63:6, 64:6, 65:7, 66:4, 67:8, 68:...","[63:6, 64:6, 68:0, 72:3, 74:5, 76:4, 79:0]","[61:5, 62:5, 65:7, 66:4, 67:8, 69:1, 70:4, 71:...","[12.481659, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[decreasing, increasing, decreasing, increasin...",[GOOD]

In [746]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1159 entries, 0 to 1158
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                1159 non-null   object
 1   timestamp          1159 non-null   datetime64[ns]
 2   all_numbers        1159 non-null   object
 3   red_numbers        1159 non-null   object
 4   blue_numbers       1159 non-null   object
 5   indices            1159 non-null   object
 6   red_indices        1159 non-null   object
 7   blue_indices       1159 non-null   object
 8   time_intervals     1159 non-null   object
 9   trends             1159 non-null   object
 10  market_indicators  1159 non-null   object
dtypes: datetime64[ns](1), object(10)
memory usage: 99.7+ KB

In [747]:
df = df.drop(columns=['_id'])

In [748]:
# If df.market_indicators contains lists
print('\nnumber of different indicators: ', 
      len(list(set(tuple(ind) if isinstance(ind, list) else ind for ind in df.market_indicators))))
print(list(set(tuple(ind) if isinstance(ind, list) else ind for ind in df.market_indicators))[0:4])

number of different indicators:  4
[('BAD',), ('NEUTRAL',), (), ('GOOD',)]

In [749]:
print('\nnumber of different indicators: ', 
      len(list(set(tuple(ind) if isinstance(ind, list) else ind for ind in df.market_indicators))))

number of different indicators:  4

In [750]:
indicators = [tuple(ind) if isinstance(ind, list) and ind else ('AVARAGE',) if not ind else ind for ind in df.market_indicators]

In [751]:
print(list(set(indicators))[0:4])

[('BAD',), ('NEUTRAL',), ('AVARAGE',), ('GOOD',)]

In [752]:
df.tail()

,timestamp,all_numbers,red_numbers,blue_numbers,indices,red_indices,blue_indices,time_intervals,trends,market_indicators
1154,2025-01-26 11:45:28.170,"[1, 1, 2, 9, 9, 8, 9, 9, 2, 9, 6, 8, 8, 7, 8, ...","[9, 9, 8, 8, 8]","[1, 1, 2, 9, 8, 9, 2, 9, 6, 7, 2, 7, 8, 1, 3]","[23021:1, 23022:1, 23023:2, 23024:9, 23025:9, ...","[23025:9, 23028:9, 23032:8, 23033:8, 23035:8]","[23021:1, 23022:1, 23023:2, 23024:9, 23026:8, ...","[12.403293, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[decreasing, increasing, increasing, decreasin...",[NEUTRAL]
1155,2025-01-26 11:45:40.582,"[9, 2, 9, 6, 8, 8, 8, 2, 7, 8, 1, 3, 4, 2, 9, ...","[9, 8, 8, 2, 9, 7, 4]","[2, 9, 6, 8, 2, 7, 8, 1, 3, 4, 8, 9, 3]","[23041:9, 23042:2, 23043:9, 23044:6, 23045:8, ...","[23041:9, 23045:8, 23047:8, 23054:2, 23055:9, ...","[23042:2, 23043:9, 23044:6, 23046:8, 23048:2, ...","[12.411442, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[decreasing, increasing, decreasing, increasin...",[NEUTRAL]
1156,2025-01-26 11:45:52.988,"[8, 2, 7, 8, 1, 3, 4, 2, 9, 7, 8, 9, 4, 3, 6, ...","[8, 2, 9, 7, 4, 3]","[2, 7, 8, 1, 3, 4, 8, 9, 3, 6, 3, 3, 3, 2]","[23061:8, 23062:2, 23063:7, 23064:8, 23065:1, ...","[23061:8, 23068:2, 23069:9, 23070:7, 23073:4, ...","[23062:2, 23063:7, 23064:8, 23065:1, 23066:3, ...","[12.406343, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[decreasing, increasing, increasing, decreasin...",[NEUTRAL]
1157,2025-01-26 11:46:05.407,"[4, 2, 9, 7, 8, 9, 4, 3, 6, 3, 3, 3, 3, 2, 0, ...","[2, 9, 7, 4, 3, 0, 0, 4, 3]","[4, 8, 9, 3, 6, 3, 3, 3, 2, 7, 4]","[23081:4, 23082:2, 23083:9, 23084:7, 23085:8, ...","[23082:2, 23083:9, 23084:7, 23087:4, 23093:3, ...","[23081:4, 23085:8, 23086:9, 23088:3, 23089:6, ...","[12.41907, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[decreasing, increasing, decreasing, increasin...",[NEUTRAL]
1158,2025-01-26 11:46:17.795,"[4, 3, 6, 3, 3, 3, 3, 2, 0, 7, 0, 4, 4, 3, 5, ...","[4, 3, 0, 0, 4, 3, 5, 1]","[3, 6, 3, 3, 3, 2, 7, 4, 3, 0, 3, 7]","[23101:4, 23102:3, 23103:6, 23104:3, 23105:3, ...","[23101:4, 23107:3, 23109:0, 23111:0, 23112:4, ...","[23102:3, 23103:6, 23104:3, 23105:3, 23106:3, ...","[12.387746, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[decreasing, increasing, decreasing, decreasin...",[NEUTRAL]

In [753]:
df.describe()

                           timestamp
count                           1159
mean   2025-01-26 08:59:15.626328576
min       2025-01-26 06:11:23.393000
25%    2025-01-26 07:12:47.500499968
50%    2025-01-26 08:12:59.150000128
75%    2025-01-26 10:46:10.961499904
max       2025-01-26 11:46:17.795000

In [754]:
flat_numbers = [num for sublist in df.all_numbers for num in sublist]

#print(flat_numbers)

In [755]:
def assign_timestamps(start_timestamp, numbers):
    start_time = datetime.strptime(start_timestamp, "%Y-%m-%dT%H:%M:%S.%f%z")
    
    # Calculate time increment for each number (assumes equal intervals)
    # Interval = total time difference / number of elements in the list
    # For simplicity, assume a uniform distribution of time
    interval = timedelta(seconds=(numbers[-1] - numbers[0])) / len(numbers)  # Time per number
    
    timestamped_numbers = []
    
    # Assign timestamp for each number
    for i, num in enumerate(numbers):
        timestamp = start_time + timedelta(seconds=i * interval.total_seconds())
        timestamped_numbers.append(f"{timestamp} flat_numbers {num}")
    
    return timestamped_numbers

In [756]:
#
#
#set time serise frame for each sequences 
#
#

In [757]:
df2 = df[['timestamp','all_numbers']]
print(df2)

                   timestamp  \
0    2025-01-26 06:11:23.393
1    2025-01-26 06:11:36.698
2    2025-01-26 06:11:49.125
3    2025-01-26 06:12:01.657
4    2025-01-26 06:12:14.138
...                      ...
1154 2025-01-26 11:45:28.170
1155 2025-01-26 11:45:40.582
1156 2025-01-26 11:45:52.988
1157 2025-01-26 11:46:05.407
1158 2025-01-26 11:46:17.795

                                            all_numbers
0                                                    []
1     [9, 7, 2, 8, 4, 4, 5, 2, 5, 7, 9, 7, 2, 5, 6, ...
2     [5, 2, 5, 7, 9, 7, 2, 5, 6, 5, 4, 4, 5, 5, 6, ...
3     [2, 5, 6, 5, 4, 4, 5, 5, 6, 6, 7, 4, 8, 0, 1, ...
4     [5, 5, 6, 6, 7, 4, 8, 0, 1, 4, 1, 3, 2, 5, 0, ...
...                                                 ...
1154  [1, 1, 2, 9, 9, 8, 9, 9, 2, 9, 6, 8, 8, 7, 8, ...
1155  [9, 2, 9, 6, 8, 8, 8, 2, 7, 8, 1, 3, 4, 2, 9, ...
1156  [8, 2, 7, 8, 1, 3, 4, 2, 9, 7, 8, 9, 4, 3, 6, ...
1157  [4, 2, 9, 7, 8, 9, 4, 3, 6, 3, 3, 3, 3, 2, 0, ...
1158  [4, 3, 6, 3, 3, 3, 3, 2, 0, 7, 0, 4, 4, 3, 5, ...

[1159 rows x 2 columns]

In [758]:
from datetime import timedelta
df2['timestamp'] = pd.to_datetime(df2['timestamp'])

def assign_timestamps_for_list(row):
    initial_timestamp = row['timestamp']
    numbers = row['all_numbers']
    
    # If the list is empty, return an empty list
    if not numbers:
        return []
    
    # Set the time increment, e.g., 1 second per number
    time_increment = timedelta(seconds=1)
    
    # Generate timestamped values
    timestamped_values = []
    for idx, num in enumerate(numbers):
        new_timestamp = initial_timestamp + (idx * time_increment)
        timestamped_values.append([new_timestamp, num])  # Store timestamp and number as separate items
    
    return timestamped_values

# Apply function to each row in the DataFrame
df2['timestamped_numbers'] = df2.apply(assign_timestamps_for_list, axis=1)

# Flatten the DataFrame to show timestamped values for each number
flattened_data = df2[['timestamped_numbers']].explode('timestamped_numbers').reset_index(drop=True)

# Now extract the timestamp and number into separate columns
flattened_data = flattened_data['timestamped_numbers'].apply(pd.Series)

# Rename the columns to 'timestamp' and 'flat_numbers'
flattened_data.columns = ['timestamp', 'flat_numbers']
flattened_data['index'] = flattened_data.index + 1

# Display the result
print(flattened_data)

C:\Users\user\AppData\Local\Temp\ipykernel_5920\1611349744.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['timestamp'] = pd.to_datetime(df2['timestamp'])
C:\Users\user\AppData\Local\Temp\ipykernel_5920\1611349744.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['timestamped_numbers'] = df2.apply(assign_timestamps_for_list, axis=1)

                    timestamp flat_numbers  index
0                         NaT          NaN      1
1     2025-01-26 06:11:36.698            9      2
2     2025-01-26 06:11:37.698            7      3
3     2025-01-26 06:11:38.698            2      4
4     2025-01-26 06:11:39.698            8      5
...                       ...          ...    ...
23118 2025-01-26 11:46:32.795            1  23119
23119 2025-01-26 11:46:33.795            3  23120
23120 2025-01-26 11:46:34.795            0  23121
23121 2025-01-26 11:46:35.795            3  23122
23122 2025-01-26 11:46:36.795            7  23123

[23123 rows x 3 columns]

In [759]:
flattened_data.head(10)

                timestamp flat_numbers  index
0                     NaT          NaN      1
1 2025-01-26 06:11:36.698            9      2
2 2025-01-26 06:11:37.698            7      3
3 2025-01-26 06:11:38.698            2      4
4 2025-01-26 06:11:39.698            8      5
5 2025-01-26 06:11:40.698            4      6
6 2025-01-26 06:11:41.698            4      7
7 2025-01-26 06:11:42.698            5      8
8 2025-01-26 06:11:43.698            2      9
9 2025-01-26 06:11:44.698            5     10

In [760]:
flattened_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23123 entries, 0 to 23122
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     23120 non-null  datetime64[ns]
 1   flat_numbers  23120 non-null  object
 2   index         23123 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 542.1+ KB

In [761]:
#
#
#red and red indexces
#
#
#

In [762]:
df.head(2)

,timestamp,all_numbers,red_numbers,blue_numbers,indices,red_indices,blue_indices,time_intervals,trends,market_indicators
0,2025-01-26 06:11:23.393,[],[],[],[],[],[],[],[],[]
1,2025-01-26 06:11:36.698,"[9, 7, 2, 8, 4, 4, 5, 2, 5, 7, 9, 7, 2, 5, 6, ...","[9, 4, 7, 9, 7, 5, 6, 4]","[7, 2, 8, 4, 5, 2, 5, 2, 5, 4, 5, 5]","[1:9, 2:7, 3:2, 4:8, 5:4, 6:4, 7:5, 8:2, 9:5, ...","[1:9, 6:4, 10:7, 11:9, 12:7, 14:5, 15:6, 17:4]","[2:7, 3:2, 4:8, 5:4, 7:5, 8:2, 9:5, 13:2, 16:5...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[decreasing, decreasing, increasing, decreasin...",[]

In [763]:
flat_red = [num for sublist in df.red_indices for num in sublist]

#print(flat_red)

In [764]:
flat_blue = [num for sublist in df.blue_indices for num in sublist]

#print(flat_blue)

In [765]:
# Transform the list
transform_red = [f"{str(item).split(':')[0]}:Down" if ':' in str(item) else f"{item}:Down" for item in flat_red]

#print(transform_red)

In [766]:
# Transform the list
transform_blue = [f"{str(item).split(':')[0]}:Up" if ':' in str(item) else f"{item}:Up" for item in flat_blue]

#print(transform_blue)

In [848]:
blue = pd.DataFrame([item.split(":") for item in transform_blue], columns=["index", "value"])
red = pd.DataFrame([item.split(":") for item in transform_red], columns=["index", "value"])

In [849]:
#combine the data frames
digit_moves = pd.concat([red,  blue])

In [850]:
# Convert the 'index' column to integers for proper sorting
digit_moves['index'] = digit_moves['index'].astype(int)

In [851]:
# Sort by the 'index' column

digit_moves.sort_values(by='index', inplace=True)

In [852]:
# Create the merged list C
Digit_movement = [f"{row['index']}:{row['value']}" for _, row in digit_moves.iterrows()]

#print(Digit_movement)

In [853]:
# Create the list Digit_movement from digit_moves DataFrame
Digit_movement = [f"{row['index']}:{row['value']}" for _, row in digit_moves.iterrows()]

# Split the 'index:value' strings into separate 'index' and 'value' columns
df_digit_movement = pd.DataFrame([item.split(":") for item in Digit_movement], columns=["index", "value"])

df_digit_movement = df_digit_movement.drop(columns=["index"])

# Print the DataFrame with two columns
#print(df_digit_movement)

# Print the column names again
#print(df_digit_movement.columns)
df_digit_movement.head(10)

  value
0  Down
1    Up
2    Up
3    Up
4    Up
5  Down
6    Up
7    Up
8    Up
9  Down

In [854]:

digit_moves.head()

   index value
0      1  Down
0      2    Up
1      3    Up
2      4    Up
3      5    Up

In [855]:
len(digit_moves)

23110

In [856]:
#
#
#marge the data 
#
#

In [857]:
flattened_data.head()

                timestamp flat_numbers  index
0 2025-01-26 06:11:37.698            7      3
1 2025-01-26 06:11:38.698            2      4
2 2025-01-26 06:11:39.698            8      5
3 2025-01-26 06:11:40.698            4      6
4 2025-01-26 06:11:41.698            4      7

In [858]:
flattened_data = flattened_data.iloc[1:].reset_index(drop=True)

digit_moves_reset = digit_moves.reset_index(drop=True)
flattened_data_reset = flattened_data.reset_index(drop=True)

merged_data = pd.concat([flattened_data_reset, digit_moves_reset], axis=1)

merged_data.head(10)

                timestamp flat_numbers  index  index value
0 2025-01-26 06:11:38.698            2      4    1.0  Down
1 2025-01-26 06:11:39.698            8      5    2.0    Up
2 2025-01-26 06:11:40.698            4      6    3.0    Up
3 2025-01-26 06:11:41.698            4      7    4.0    Up
4 2025-01-26 06:11:42.698            5      8    5.0    Up
5 2025-01-26 06:11:43.698            2      9    6.0  Down
6 2025-01-26 06:11:44.698            5     10    7.0    Up
7 2025-01-26 06:11:45.698            7     11    8.0    Up
8 2025-01-26 06:11:46.698            9     12    9.0    Up
9 2025-01-26 06:11:47.698            7     13   10.0  Down

In [859]:
flat_trends = [num for sublist in df.trends for num in sublist]

#print(flat_trends)

In [860]:
trends_df = pd.DataFrame(flat_trends, columns=['trends'])
print(trends_df)

           trends
0      decreasing
1      decreasing
2      increasing
3      decreasing
4      decreasing
...           ...
21959  decreasing
21960  increasing
21961  decreasing
21962  increasing
21963  increasing

[21964 rows x 1 columns]

In [861]:
marged_data = pd.concat([merged_data,trends_df], axis=1)
marged_data.head()

                timestamp flat_numbers  index  index value      trends
0 2025-01-26 06:11:38.698            2      4    1.0  Down  decreasing
1 2025-01-26 06:11:39.698            8      5    2.0    Up  decreasing
2 2025-01-26 06:11:40.698            4      6    3.0    Up  increasing
3 2025-01-26 06:11:41.698            4      7    4.0    Up  decreasing
4 2025-01-26 06:11:42.698            5      8    5.0    Up  decreasing

In [862]:
print(df['market_indicators'])

0              []
1              []
2       [NEUTRAL]
3       [NEUTRAL]
4          [GOOD]
          ...
1154    [NEUTRAL]
1155    [NEUTRAL]
1156    [NEUTRAL]
1157    [NEUTRAL]
1158    [NEUTRAL]
Name: market_indicators, Length: 1159, dtype: object

In [863]:
len(flattened_data)

23120

In [864]:
flat_market_indicators = [num for sublist in df.market_indicators for num in sublist]
print(flat_market_indicators)

['NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'BAD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'BAD', 'BAD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'GOOD', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'GOOD', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL', 'NEUTRAL']

In [865]:
len(flat_market_indicators)

1153

In [866]:
market = pd.DataFrame(flat_market_indicators , columns=['market_indicators'])

market.head(10)

  market_indicators
0           NEUTRAL
1           NEUTRAL
2              GOOD
3              GOOD
4           NEUTRAL
5           NEUTRAL
6           NEUTRAL
7           NEUTRAL
8           NEUTRAL
9           NEUTRAL

In [867]:
repeated_values = []
repeat_count = 20  # Number of rows to repeat the same value for

for i, value in enumerate(market['market_indicators']):
    repeated_values.extend([value] * repeat_count)

# If the repeated values are fewer than the merged_data length, repeat the list
repeated_values = (repeated_values * ((len(merged_data) // len(repeated_values)) + 1))[:len(merged_data)]

# Step 2: Add the 'market_indicators' column to merged_data
merged_data['market_indicators'] = repeated_values

# Display the first few rows of the merged DataFrame
print(merged_data.head(10))

                timestamp flat_numbers  index  index value market_indicators
0 2025-01-26 06:11:38.698            2      4    1.0  Down           NEUTRAL
1 2025-01-26 06:11:39.698            8      5    2.0    Up           NEUTRAL
2 2025-01-26 06:11:40.698            4      6    3.0    Up           NEUTRAL
3 2025-01-26 06:11:41.698            4      7    4.0    Up           NEUTRAL
4 2025-01-26 06:11:42.698            5      8    5.0    Up           NEUTRAL
5 2025-01-26 06:11:43.698            2      9    6.0  Down           NEUTRAL
6 2025-01-26 06:11:44.698            5     10    7.0    Up           NEUTRAL
7 2025-01-26 06:11:45.698            7     11    8.0    Up           NEUTRAL
8 2025-01-26 06:11:46.698            9     12    9.0    Up           NEUTRAL
9 2025-01-26 06:11:47.698            7     13   10.0  Down           NEUTRAL

In [825]:
len(merged_data)

23122

In [832]:
merged_data.head()

                timestamp sequence  etc  etc digit_moves indicators
0 2025-01-26 06:11:36.698        9    2  1.0        Down    NEUTRAL
1 2025-01-26 06:11:37.698        7    3  2.0          Up    NEUTRAL
2 2025-01-26 06:11:38.698        2    4  3.0          Up    NEUTRAL
3 2025-01-26 06:11:39.698        8    5  4.0          Up    NEUTRAL
4 2025-01-26 06:11:40.698        4    6  5.0          Up    NEUTRAL

In [870]:
merged_data.drop(columns=['index'], inplace=True)

In [871]:
print(merged_data.head(10))

                timestamp flat_numbers value market_indicators
0 2025-01-26 06:11:38.698            2  Down           NEUTRAL
1 2025-01-26 06:11:39.698            8    Up           NEUTRAL
2 2025-01-26 06:11:40.698            4    Up           NEUTRAL
3 2025-01-26 06:11:41.698            4    Up           NEUTRAL
4 2025-01-26 06:11:42.698            5    Up           NEUTRAL
5 2025-01-26 06:11:43.698            2  Down           NEUTRAL
6 2025-01-26 06:11:44.698            5    Up           NEUTRAL
7 2025-01-26 06:11:45.698            7    Up           NEUTRAL
8 2025-01-26 06:11:46.698            9    Up           NEUTRAL
9 2025-01-26 06:11:47.698            7  Down           NEUTRAL

In [872]:
merged_data.rename(columns={
    'timestamp':'timestamp',
    'flat_numbers': 'sequence',
    'value':'digit_moves',
    'market_indicators':'indicators'
}, inplace=True)

In [873]:
# Save the DataFrame to a CSV file
merged_data.to_csv('structured_data.csv', index=False)

In [876]:
# Replace NaT in the 'timestamp' column with the current date (without time)
merged_data['timestamp'] = merged_data['timestamp'].fillna(pd.Timestamp.now().normalize())

In [877]:
username = "cypsolabs"
password = "@testing01"
encoded_username = quote_plus(username)
encoded_password = quote_plus(password)

# Construct the MongoDB URI
MONGO_URI = f"mongodb+srv://{encoded_username}:{encoded_password}@byner.vxp0o.mongodb.net/?retryWrites=true&w=majority&appName=byner"

client = pymongo.MongoClient(MONGO_URI)
db = client['testdb']  
collection = db['cleaneddata']  

# Convert the DataFrame to a dictionary
data_dict = merged_data.to_dict(orient='records')

# Insert the data into MongoDB
collection.insert_many(data_dict)

print("Data successfully inserted into MongoDB!")

Data successfully inserted into MongoDB!